@charset "UTF-8";
body{
	min-width:900px;
}
.smallnames{
    padding-top: 15px;
    text-align: start;
}
.smallimg{
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin: 10px;
    float: left;
	vertical-align: middle;
}
.smallimg1{
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin: 10px;
	vertical-align: middle;
}
#fotolar{
    position: relative;            
    width:200px;
    height: 200px;
}
#jpg1 {
    
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
    background-color: red;
}
.nav-pills > li.active > a {
    background-color: #d1e2ff;
}
.nav-pills > li.active > a:hover {
    background-color: #d1e2ff;
}
.nav > li > a {
	width:160px;
}
.shadow{
    -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}
.shodowImg{
	border-radius: 20px;
	width: 250px;
	height: 75px;
	margin-left:10px;
	margin-top: 5px; 
}
.imglogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.SignButton{
    height:40px;
    width:160px;
    border-radius:5px;
    background-color:#6f7277;
    justify-content: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    color:white;
}
.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header1{
	text-align : center;
  	font-size : 22pt;
}
.header2{
	text-align : center;
  	font-size : 12pt;
  	color : white;
}
.header3{
	text-align : center;
  	font-size : 12pt;
  	color : black;
}
.links{
	color : black;
	text-decoration : none;
	font-family:'Hind', sans-serif;
	
}
.links:hover{
	color : black;
	text-decoration : none;
}
.links:actived{
	color : black;
	text-decoration : none;
}
.links:visited{
	color : black;
	text-decoration : none;
}
#firstDiv{
	background-color: #94b9d1;
	border-radius : 20px;
	padding: 1%;
	font-size: 10.8pt;
	float: left;
	margin-left: 3.5%;
	width:50%!important;
	min-width: 575px;
}
.plink{
	height: 40.9ch;
    overflow: hidden;
    margin-right: 3%;
    text-align: justify;
    margin-bottom: 0;
}
.pImg{
	border-radius: 20px;
	height:320px;
	margin: 0 3% 1% 0;
}
.section-wrapper1{
	border-bottom: #555555 dotted 1px;
}
.smallRight{
	float : left;
	width: 300px;
    margin: 1% 0 0 1%;
    background-color : rgb(49, 65, 82);
    border-radius : 20px;
}
.smallRight2{
	float : left;
	width: 300px;
    margin: 1% 0 0 1%;
    background-color: rgb(148, 185, 209);
    border-radius: 20px;
    color: black !important;
}
.smallBottomLeft{
	float : left;
	width: 750px;
    margin-top:1%;
    background-color : rgb(49, 65, 82);
    border-radius : 20px;
}
.smallBottomLeft2{
	float : left;
	width: 730px;
    margin-top:1%;
    background-color : rgb(148, 185, 209);
    border-radius : 20px;
}
.smallBottomRight{
	float : right;
	width: 750px;
    margin-top:1%;
    background-color : rgb(49, 65, 82);
    border-radius : 20px;
}
.smallBottomRight2{
	float : right;
	width: 730px;
    margin-top:1%;
    background-color : rgb(148, 185, 209);
    border-radius : 20px;
}