.nav > li > a:hover{
    background-color: #c1d9ff;
}
.nav-pills > li.active > a {
    background-color: #c1d9ff;
}
.nav-pills > li.active > a:hover {
    background-color: #c1d9ff;
}
.nav > li > a {
    width:188px;
    padding: 10px 0px;
    margin-right: 0px;
}
a:hover{
    color: #0645ad;
}
a {
    color: #0645ad;
}
a:visited {
    color: #0b0080;
}
.nav > li > button:hover {
    background-color:#a8adb5;
}
.shadow{
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}
.imglogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
span
{
    font-family: Arial !important;
}
.nologin1{
	height:35px;
	width:48%;
	border-radius:5px;
	margin-top:13px;
	background-color:#49617a;
	color:white;
	border:2px solid #49617a;
	font-size:13px;
	cursor:pointer;
}
.previewParagDiv{
        max-width:100%;     
}
#h2Id{color:black;font-size:15px;font-weight:bold;}
		#pId{color:black;font-size:10px;font-weight:normal;max-width:100%;}
		.imgclose{height:15px;width:15px;margin-left:86%;position:absolute;cursor: pointer;}
		.imgedit{height:15px;width:15px;margin-left:79%;position:absolute;cursor: pointer;}
		.imgedit2{height:15px;width:15px;margin-left:71%;position:absolute;cursor: pointer;}