body { overflow-x: hidden !important; }

#wrapper-div{
    margin-left: 5%;
    width: 40%;
    height:800px;
    float: left;
    border: 1px black solid;
}
#button-div{
    width: 80%;
    height:800px;
    margin: auto;
}
#textbox-div{
    width: auto;
    margin:auto;
    position: relative;
}
#previewBox{
    width: 50%;
    height:800px;
    float: left;
    border: 1px black solid;

}
#diş-div{
    width: 100%;
    margin: auto;
    margin-left: 75px;


}
.nav > li > a:hover{
    background-color: #c1d9ff;
}
.nav-pills > li.active > a {
    background-color: #c1d9ff;
}
.nav-pills > li.active > a:hover {
    background-color: #c1d9ff;
}
.nav > li > a {
    width:94px;
    padding: 4px 0px;
    margin-right: 0px;
}
a:hover{
    color: #0645ad;
}
a {
    color: #0645ad;
}
a:visited {
    color: #0b0080;
}
.nav > li > button:hover {
    background-color:#a8adb5;
}
.shadow{
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}
.imglogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
span
{
    font-family: Arial !important;
}
.nologin1{
	height:35px;
	width:48%;
	border-radius:5px;
	margin-top:13px;
	background-color:#49617a;
	color:white;
	border:2px solid #49617a;
	font-size:13px;
	cursor:pointer;
}
.nologin2{
	height:35px;
	width:97%;
	border-radius:5px;
	margin-top:13px;
	background-color:#49617a;
	color:white;
	border:2px solid #49617a;
	font-size:13px;
	cursor:pointer;
}
.previewParagDiv{
        max-width:100%;     
}
.AltpreviewParagDiv{
       margin-left:10px;    
}
.marginAlt{
	margin-left:10px;
}
.margininp{
	margin-left:10px;
	cursor:pointer;
	font-size:14px;
	color:black;
	font-size:13px;
}
.sagAltinP{
	margin-left:8px;
	cursor:pointer;
	font-size:16px;
	color:black;
}
.saginp{
	cursor:pointer;
	font-size:16px;
	font-weight:bold;
	color:black;
	font-size:15px;
}
.scrol1
{
  height:600px;
  width:100%; 
  background-color:#f4f4f4;
}
.scrol2
{
  height:100%;
  overflow:auto;
  background-color:#f4f4f4;
}
#header1{
	padding: 0px !important;
    margin: 0;
    position: relative;
}
.divH6{color:black;font-size:15px;font-weight:bold;}
.divP{color:black;font-size:10px;font-weight:normal;max-width:100%;}
.imgclose{height:15px;width:15px;margin-left:86%;position:absolute;cursor: pointer;}
.imgedit{height:15px;width:15px;margin-left:79%;position:absolute;cursor: pointer;}
.imgedit2{height:15px;width:15px;margin-left:71%;position:absolute;cursor: pointer;}