body { overflow-x: hidden !important; }

#wrapper-div{
    width: 45%;
    height:800px;
    float: left;
    border: 1px black solid;
}
#button-div{
    width: 80%;
    height:800px;
    margin: auto;
}
#textbox-div{
    width: auto;
    margin:auto;
    position: relative;
}
#edit{
    width: 45%;
    height:800px;
    float: left;
    border: 1px black solid;

}
#diş-div{
    width: 100%;
    margin: auto;
    margin-left: 75px;


}