
.dropdown-content {
margin-top:5px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height:175px;
  width:300px;
  margin-left:-265px;
  border-radius:10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
#dropleft{
	height:125px;
	width:125px;
	float:left;
}
#dropright{
	height:125px;
	width:175px;
	float:left;
}
#dropbottom{
	height:50px;
	border-top: 1px solid #314152;
	width:300px;
	clear:left;
	
}
#imgDrop{
	height:80px;
	width:80px;
	margin:20px;
	border-radius:80px;
}
.liName{
	padding-top:12px;
	font-weight:bold;
	font-size:13px;
}
.liMail{
	margin-top:-7px;
	font-weight:Bold;
	font-size:11px;
}
.liAccount{
	font-weight:Bold;
	font-size:10px;
}
.DropBtn1{
	background-color:#314152;
	font-weight:Bold;
	height:30px;
	width:77px;
	font-size:10px;
	color:white;
	margin-top:1px;
}
.LogoutBtn{
	background-color:#314152;
	font-weight:Bold;
	height:30px;
	width:100px;
	font-size:10px;
	color:white;
	margin-top:8px;
	margin-left:100px;
}
.LogoutBtn:hover{
    background: linear-gradient(top, #8e0700, #d21b00);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.75);
}
.DropBtn1:hover{
    background: linear-gradient(top, #8e0700, #d21b00);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.75);
}
#loginsmallimg{
	height:45px;
	width:45px;
	border-radius:45px;
	margin-top:7px;
	margin-right:66px;
	cursor:pointer;
		}
.nologin{
	height:35px;
	width:70px;
	border-radius:5px;
	margin-top:13px;
	background-color:#49617a;
	color:white;
	border:2px solid #49617a;
	font-size:13px;
	cursor:pointer;
}
.nologin:hover{
    background: linear-gradient(top, #8e0700, #d21b00);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.75);
}
.nologinCase1{
	height:35px;
	width:70px;
	border-radius:5px;
	margin-top:13px;
	background-color:#4d77a2;
	color:#e8dcff;
	border:2px solid #49617a;
	font-size:13px;
	cursor:pointer;
	margin-right:10px;
}
.nologinCase1:hover{
    background: linear-gradient(top, #8e0700, #d21b00);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.75);
}
.nologinCase2{
	height:35px;
	width:70px;
	border-radius:5px;
	margin-top:13px;
	background-color:#4d77a2;
	color:#e8dcff;
	border:2px solid #49617a;
	font-size:13px;
	cursor:pointer;
	margin-left:10px;
}
.nologinCase2:hover{
    background: linear-gradient(top, #8e0700, #d21b00);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.75);
}
.rankbutton{
	height:30px;
	width:50px;
	margin-left:2px;
	cursor:pointer;
	border-radius:3px;
	background-color:#5e758c;
	color:white;
	border:2px solid #556a80;
	font-size:8px;
	text-align:center;
}
.rankbutton:hover{
    background: linear-gradient(top, #8e0700, #d21b00);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.75);
}
.rankImg{
	height:12px;
	width:12px;
	margin-right:4px;
}
#rankUl{
	font-size:12px;
	color:#e4e4e4;
	margin-left:46px;
}