@import "http://fonts.googleapis.com/css?family=Raleway";
/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#abc {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color:rgba(0,0,0,0.5);
    overflow: auto;
}
#abcBiography {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color:rgba(0,0,0,0.5);
    overflow: auto;
}

#abcInterest {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color:rgba(0,0,0,0.5);
    overflow: auto;
}

img#close {
position:absolute;
right:0px;
top:0px;
cursor:pointer
}
div#popupContact {
     position: absolute;
    left: 50%;
    top: -200px;
    margin-left: -202px;
    font-family: 'Raleway',sans-serif;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    background-color: #fff;
    
}
div#popupContactBiography {
   position: absolute;
    left: 50%;
    top: -200px;
    margin-left: -202px;
    font-family: 'Raleway',sans-serif;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    background-color: #fff;
}
div#popupContactInterest {
    position: absolute;
    left: 50%;
    top: -200px;
    margin-left: -202px;
    font-family: 'Raleway',sans-serif;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    background-color: #fff;
}
div#popupContactUserInfo {
    position: absolute;
    left: 50%;
    top: -200px;
    margin-left: -202px;
    font-family: 'Raleway',sans-serif;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    background-color: #fff;
}
div#popupProfilePhoto {
    position: absolute;
    left: 50%;
    top: -220px;
    margin-left: -202px;
    font-family: 'Raleway',sans-serif;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    background-color: #fff;
    height: 370px;
    width: 370px;
}


form {
    max-width: 400px;
    min-width: 250px;
    padding: 10px 50px;
    border-radius: 10px;
    font-family: raleway;
    background-color: #fff
}

hr {
    margin: 10px -50px;
    border: 0;
    border-top: 1px solid #ccc
}

#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}

button {
width:9%;
height:32px;
border-radius:3px;
color:#fff;
cursor:pointer
}
.form-style-2 {
    max-width: 1920px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;

}

.form-style-2-heading {
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}

.form-style-2 label {
    display: block;
    margin: 0px 0px 15px 0px;
}

    .form-style-2 label > span {
        width: 200px;
        font-weight: bold;
        float: left;
        padding-top: 8px;
        padding-right: 5px;
    }

.form-style-2 span.required {
    color: red;
}

.form-style-2 .tel-number-field {
    width: 40px;
    text-align: center;
}
#formwidth{
    width:500px;
}
.form-style-2 input.input-field, .form-style-2 .select-field {
    width: 100%;
}

.form-style-2 input.input-field,
.form-style-2 .tel-number-field,
.form-style-2 .textarea-field,
.form-style-2 .select-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

    .form-style-2 .input-field:focus,
    .form-style-2 .tel-number-field:focus,
    .form-style-2 .textarea-field:focus,
    .form-style-2 .select-field:focus {
        border: 1px solid #6f7277;
    }

.form-style-2 .textarea-field {
    height: 100px;
    width: 55%;
}

.form-style-2 input[type=submit],
.form-style-2 input[type=button] {
    border: none;
    padding: 10px 17px 10px 17px;
    background: #6f7277;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-left:39%;
}

    .form-style-2 input[type=submit]:hover,
    .form-style-2 input[type=button]:hover {
        background: #a8adb5;
        color: #fff;
    }
.form-style-Bio {
    max-width: 1920px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}

.form-style-Bio-heading {
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}

.form-style-Bio label {
    display: block;
    margin: 0px 0px 15px 0px;
}

    .form-style-Bio label > span {
        width: 200px;
        font-weight: bold;
        float: left;
        padding-top: 8px;
        padding-right: 5px;
    }

.form-style-Bio span.required {
    color: red;
}

.form-style-Bio .tel-number-field {
    width: 40px;
    text-align: center;
}


.form-style-Bio input.input-field, .form-style-2 .select-field {
    width: 100%;
}

.form-style-Bio textarea.input-field,
.form-style-Bio .tel-number-field,
.form-style-Bio .textarea-field,
.form-style-Bio .select-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
    height:200px;
}

    .form-style-Bio .input-field:focus,
    .form-style-Bio .tel-number-field:focus,
    .form-style-Bio .textarea-field:focus,
    .form-style-Bio .select-field:focus {
        border: 1px solid #6f7277;
    }

.form-style-Bio .textarea-field {
    height: 100px;
    width: 55%;
}

.form-style-Bio input[type=submit],
.form-style-Bio input[type=button] {
    border: none;
    padding: 10px 17px 10px 17px;
    background: #6f7277;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-left: 37%;
}

    .form-style-Bio input[type=submit]:hover,
    .form-style-Bio input[type=button]:hover {
        background: #a8adb5;
        color: #fff;
    }
textarea {
    resize: none;
}
.button2{
	height:100px;
	width:100px;
	background-color:red;
}
.form-style-pp {
    max-width: 1920px;
    height:350px;
    width:367px;
    padding:24px;
    font: 13px Arial, Helvetica, sans-serif;
}

.form-style-pp-heading {
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}

.form-style-pp label {
    display: block;
    margin: 0px 0px 15px 0px;
}

    .form-style-pp label > span {
        width: 200px;
        font-weight: bold;
        float: left;
        padding-top: 8px;
        padding-right: 5px;
    }

.form-style-pp span.required {
    color: red;
}

.form-style-pp .tel-number-field {
    width: 40px;
    text-align: center;
}


.form-style-pp input.input-field, .form-style-2 .select-field {
    width: 100%;
}

.form-style-pp textarea.input-field,
.form-style-pp .tel-number-field,
.form-style-pp .textarea-field,
.form-style-pp .select-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
    height:200px;
}

    .form-style-pp .input-field:focus,
    .form-style-pp .tel-number-field:focus,
    .form-style-pp .textarea-field:focus,
    .form-style-pp .select-field:focus {
        border: 1px solid #6f7277;
    }

.form-style-pp .textarea-field {
    height: 100px;
    width: 55%;
}

.form-style-pp input[type=submit],
.form-style-pp input[type=button] {
    border: none;
    padding: 10px 17px 10px 17px;
    background: #6f7277;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-left: 37%;
}

    .form-style-pp input[type=submit]:hover,
    .form-style-pp input[type=button]:hover {
        background: #a8adb5;
        color: #fff;
    }
.hr1{
	width:330px;
	margin-left:-5px;
}